<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doodler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open source website for processing images in weird and wacky ways.">
    <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.gif") }}">
</head>
<body>
    <form action="/scribble" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
</body>
</html>
